.RichEditor-root {
    background: #eaeaea;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    width: 100%;
    padding: 6px 0 0px 0;
    margin: auto;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

.RichEditor-editor {
    border-top: 1px solid #c5c4c4;
    cursor: text;
    font-size: 16px;
    margin-top: 6px;
    background: #fff;
    padding: 10px 15px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-size: 14px;
    margin: 0 5px 5px 0;
    display:inline-block;
    border-right: 1px solid #ddd;
}

.RichEditor-toolbar {
    padding: 0 15px;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
    position:relative;
}
.RichEditor-styleButton:last-child {
    margin-right: 8px;
}

.RichEditor-activeButton > i {
    color: #5890ff!important;
}

.drafts-dialog-overlay {
    position: fixed;
    z-index: 1000;
    background: #000;
    width: 100%;
    height: 125%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
}

.drafts-dialog-box {
    opacity: 1;
    display: block;
    z-index: 1003;
    top: 10%;
    position: fixed;
    background-color:#fafafa;
    padding:0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    max-width:350px;
    border-radius: 2px;
    overflow-y: auto;
    max-height: 70%;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.drafts-dialog-box-content {
    padding:24px 24px 0px 24px;
}

.drafts-dialog-box-footer {
    border-radius:0 0 2px 2px;
    background-color: #fafafa;
    padding:4px 24px;
    height:56px;
    width:100%;
    text-align: right;
}

.drafts-dialog-box-footer .btn-floating {
    margin-left:24px;
}

ul.public-DraftStyleDefault-ul li {
    list-style-type: disc!important;
    margin-left: 30px;
}

.Select-input>input {
    height:auto!important;
}

.RichEditor-controls > div.Select {
    float:left;
    min-width:100px;
    margin-right: 10px;
}

